<div class="card">
  <img
    src="https://external-preview.redd.it/fuck-yeah-cum-in-me-v0-dTQ5eHlvcHR6YjhiMdKvQdUZLaozuMKiR5yygKP6IpHF1uhk3HyKlGUIlZTp.png?format=pjpg&auto=webp&s=45ca6278246c24988ee5c503549c3ab8fa20cebf"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-info text-center ml-3">Views - 100</small>
    <h5 class="mt-1">GREAT WAY TO BE GAY</h5>
    <p>Nigga fuck the fat fuck.</p>
    <small class="bg-light text-warning text-center">LAST UPDATED 20/09/2023</small>
  </div>
</div>